:root {
    --doc-height: 100%;
    --doc-width: 100%;
    /*light colors*/
    --light-orange: #f9d793;
    --light-blue: #c5f6f6;
    --light-green: #c9eab1;
    --light-purple: #cfaed5;
    --light-pink: #fecbdf;
    /*dark colors*/
    --dark-orange: #5B3F06;
    --dark-blue: #115555;
    --dark-green: #2B4D14;
    --dark-purple: #3E2244;
    --dark-pink: #840133;
    --heading: "Matemasie", sans-serif;
    --sub: "Sanchez", serif;
    --text: "Playfair Display", serif;
    overflow-x: hidden;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

h1 {
    font-family: var(--heading);
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    font-family: var(--sub);
}

h3 {
    font-family: var(--heading);
    font-size: 2.5rem;
    -webkit-text-stroke: 0.07rem var(--dark-orange);
    color: var(--light-orange);
}

h4, h5, h6 {
    font-family: var(--sub);
    letter-spacing: 0.1rem;
    font-style: bold;
}

article {
    background-color: transparent;
    color: var(--light-green);
    width: 96%;
    padding: 2%;
    font-family: var(--text);
    letter-spacing: 0.05rem;
    
}



body {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding-bottom: 5%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


#page {
    width: 79%;
    border: 1rem solid var(--dark-orange);
    background-image: url(./media/xv.png);
    background-color: var(--dark-purple);
}

.about img {
    width: 50%;
    float: right;
    margin: 2rem;
    border-radius: 12.5%;
    border: solid 0.6rem var(--light-blue);
}

nav {
    position: fixed;
}

.nav-button {
    background-color: var(--dark-orange);
    color: var(--light-orange);
    border: solid 0.3rem var(--dark-purple);
    padding: 0.5rem;
    font-family: var(--sub);
    font-style: bold;
    font-size: 1.1rem;
}

.drop-down {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 0.1rem;
    margin: 0;
    background-color: var(--dark-green);
}

.drop-down .list {
    position: fixed;
    top: 1rem;
    width: 8%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--dark-purple);
    font-size: 0.5rem;
}

nav:hover .drop-down {display: block};

a {
    text-decoration: none;
}
.list a {
   padding: 0.5rem;
    color: white;
    text-decoration: none;
}

.list a:visited {
    color: white;
}
.list a:hover {
    background-color: var(--dark-orange);
    color: white;
}



.specs div, .work div, .education div, .referrals div{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: space-around;
}

.specs div section, .work div section, .education div section, .referrals div section{
    width: 40%;
    padding: 1rem;
    border: 0.2rem inset var(--light-purple);
    margin: 2%;
    background-color: var(--dark-purple);
    color: var(--light-green);
    z-index: 1;
}

.skills section, .contact h4 {
    background-color: var(--dark-purple);
    width: 50%;
    padding: 1rem;
    border: 0.2rem inset var(--light-purple);
}

.referrals ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   padding-bottom: 1rem;
}

@media only screen and (max-width: 875px) {

    .about img {
        width: 35%;
        border: 0.1rem solid var(--light-blue);
    }
    .specs div section, .work div section, .education div section, .referrals div section{
        width: 35%;
    }
    .skills section, .contact h4 {
        width: 93%;
    }
}

@media only screen and (max-width: 775px) {
    h1 {
        font-size: 4rem;
    }
    .specs div section, .work div section, .education div section, .referrals div section{
        width: 95%;
    }

    .nav-button {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .about img {
        width: 100%;
        float: none;
        margin: 0;
        
    }

    h1, h3, h3 {
        text-align: center;
    }
}



@media only screen and (max-width: 425px) {
   .about img {
    width: 100%;
    float: none;
    margin: 0;
   }

   .skills section, .contact h4 {
    width: 85%;
   }

   h1 {
    font-size: 3rem;
   }

   h2 {
    font-size: 1.5rem;

   }
   h3 {
    font-size: 2rem;
   }

   #page {
    width: 95%;
   }
}
